.main-nav {
    @include for-desktop-up {
        border: 0;
        height: 100%;
        justify-content: center;
        opacity: 1;
        padding-left: 20px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    align-items: center;
    display: flex;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .5s;
    width: 100%;
    z-index: -1;

    .menu-item-level-1 {
        float: left;
        padding-right: 32px;

        a {
            color: $white;
            font-size: 18px;
        }
    }
}

.mobile-nav {
    position: absolute;

    &.open {
        @include for-desktop-up {
            display: none;
        }

        background-color: $midnight;
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        outline: 1px solid $white;
        top: 90px;
        width: 100%;

        .menu-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
        }
    }

    .menu-wrapper {
        color: $white;
        display: none;
        height: 100%;
        left: 0;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 0 20px;
        position: absolute;
        top: 0;
        width: 100%;

        li {
            &.menu-item-level-1 {
                border-bottom: 1px solid $alto;
                display: flex;
                flex-direction: column;

                .loginButton,
                .registerButton,
                .logoutButton {
                    display: none;

                    &.open {
                        display: block;
                    }
                }
            }

            a {
                color: $white;
                font-size: 28px;
            }
        }

        .menu-link-level-1 {
            font-size: 28px;
        }
    }

    .menu-link-level-1 {
        display: block;
        height: 100%;
        padding: 20px 4px;
        width: 100%;
    }

    .navigation-title {
        background-image: url(/src/icons/burger-menu.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 44px;
        cursor: pointer;
        filter: invert(1);
        height: 44px;
        margin-left: 20px;
        width: 44px;
        z-index: 2;

        &.open {
            background-image: url(/src/icons/close.svg);
            position: absolute;
            top: -67px;
        }
    }
}