.columnLayoutBlock {
    .columns {
        @include for-desktop-up {
            .col {
                padding: 0
            }

            .col:first-of-type {
                padding-left: 0;
            }

            .col:last-of-type {
                padding-right: 0;
            }
        }

        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        .col {
            @for $i from 1 through $grid-columns {
                &.col-small-#{$i}-of-#{$grid-columns} {
                    box-sizing: border-box;
                    width: percentage($i / $grid-columns);
                }
            }

            @include for-desktop-up {
                @for $i from 1 through $grid-columns {
                    &.col-large-#{$i}-of-#{$grid-columns} {
                        box-sizing: border-box;
                        width: percentage($i / $grid-columns);
                    }
                }
            }
        }
    }
}