.modal-popup {
    background: rgba($black, .5);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 102;

    &.open {
        display: block;
    }

    .wrapper {
        @include for-desktop-up {
            box-shadow: 0 2px 24px 4px rgba($black, .35);
            width: 80%;
        }

        background: $white;
        border-radius: 15px;
        display: block;
        left: 50%;
        max-height: 100vh;
        max-width: 1000px;
        overflow-y: auto;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 11;

        .modal-content {
            @include for-desktop-up {
                max-height: 85vh;
                overflow-y: auto;
            }

            .columns {
                .col {
                    padding: 32px 44px;

                    .image-div {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        width: 100%;

                        img {
                            width: 70%;
                        }
                    }

                    &:first-of-type {
                        box-shadow: 0 2px 24px 4px rgba($black, .35);

                        h2,
                        h3 {
                            @include for-up-to-desktop {
                                text-align: center;
                            }

                            color: $jade;
                            margin-bottom: 40px;
                        }

                        .form {
                            margin-bottom: 40px;

                            input {
                                @include for-up-to-desktop {
                                    max-width: unset;
                                    width: 100%;
                                }

                                background: $white;
                                background-position: bottom right;
                                background-repeat: no-repeat;
                                background-size: 1em 1em;
                                border: none;
                                border-bottom: 1px solid $jade;
                                border-radius: 0;
                                color: $black;
                                display: block;
                                margin-bottom: 20px;
                                max-width: 200px;
                                padding: 20px 0;
                                transition: .3s ease;

                                &.emailInput {
                                    background-image: url(/src/icons/email.svg);
                                }

                                &.passwordInput {
                                    background-image: url(/src/icons/lock.svg);
                                }

                                &:valid {
                                    ~label {
                                        color: rgba($white, .5);
                                        font: 700 $width/25 Roboto;
                                        top: 0;
                                    }
                                }

                                &:focus {
                                    outline: none;

                                    ~label {
                                        color: $dodger-blue;
                                        font: 700 $width/25 Roboto;
                                        top: 0;
                                    }


                                    ~.bar:before {
                                        transform: translateX(0);
                                    }
                                }

                                &:-webkit-autofill {
                                    box-shadow: 0 0 0px 1000px $white inset;
                                }

                                &::placeholder {
                                    color: $jade;
                                }

                            }

                            .errorMessage {
                                color: $red;
                                display: none;
                                padding: 10px 0;

                                &.exist {
                                    display: block;
                                }
                            }
                        }

                        button {
                            @include for-up-to-desktop {
                                margin-bottom: 20px;
                                width: 100%;
                            }

                            background-color: $jade;
                            width: 150px;

                            &.googleButton {
                                background-image: url(/src/icons/google.svg);
                                background-position: 20%;
                                background-repeat: no-repeat;
                                background-size: 16px;
                            }
                        }
                    }

                    &:last-of-type {
                        background-color: $polar;
                    }
                }
            }
        }
    }

    .icon {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;

        img {
            height: 25px;
            width: 25px;
        }
    }
}